@import "tailwindcss";

html {
  background-color: #e2e2d8;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}


html.dark {
  background-color: #36363a;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
