@import "tailwindcss";

:root {
  --primary-dark: #36363a;
  --accent-dark: #7e7e86;
  --primary-light: #e2e2d8;
  --accent-light: #cfcfc6;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
}


html.dark {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}