---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Logos from "../components/Logos.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main class="container mx-auto px-4 md:py-8">
    <section
      class="mb-2 flex flex-col-reverse items-center gap-y-4 gap-x-10 md:flex-row md:items-center md:mb-16"
    >
      <div class="flex-1">
        <h2 class="font-bold">Hello, <span>I'm Maeve 👋</span></h2>
        <p>
          Welcome to my digital nook. I'm a passionate developer focused on
          creating beautiful and functional web experiences. I bring ideas to
          life through clean code and thoughtful design.
        </p>
      </div>

      <div class="relative flex justify-center">
        <img
          src="/maeve.png"
          alt="Maeve"
          class="max-h-60 rounded-full text-center greyscale"
        />
      </div>
    </section>

    <section class="mb-16">
      <div class="flex flex-col">
        <div class="order-first md:order-last">
          <Logos class="py-8 md:py-24" />
        </div>

        <div class="mt-16 order-last md:order-first">
          <h1 class="text-3xl font-bold mb-8">What can I do?</h1>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div
              class="p-6 rounded-lg bg-white/5 backdrop-blur-sm border border-white/10 shadow-lg hover:shadow-2xl transition-all duration-300 dark:hover:shadow-[0_0_15px_rgba(226,226,216,0.1)]"
            >
              <div class="mb-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-8 w-8 text-[var(--white-icon)]"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  ></path>
                </svg>
              </div>
              <h3 class="text-xl font-bold mb-2">
                Web Application Development
              </h3>
              <p
                class="text-[var(--accent-dark)] dark:text-[var(--accent-light)] mb-4"
              >
                Building responsive, scalable web applications using modern
                frameworks and best practices; over half a decade developing for
                SME's and large corporations.
              </p>
            </div>

            <div
              class="p-6 rounded-lg bg-white/5 backdrop-blur-sm border border-white/10 shadow-lg hover:shadow-2xl transition-all duration-300 dark:hover:shadow-[0_0_15px_rgba(226,226,216,0.1)]"
            >
              <div class="mb-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-8 w-8 text-[var(--white-icon)]"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                  ></path>
                </svg>
              </div>
              <h3 class="text-xl font-bold mb-2">Mobile Development</h3>
              <p
                class="text-[var(--accent-dark)] dark:text-[var(--accent-light)] mb-4"
              >
                Creating cross-platform mobile applications that deliver
                powerful functionality with intuitive interfaces using React
                Native & Ionic.
              </p>
            </div>

            <div
              class="p-6 rounded-lg bg-white/5 backdrop-blur-sm border border-white/10 shadow-lg hover:shadow-2xl transition-all duration-300 dark:hover:shadow-[0_0_15px_rgba(226,226,216,0.1)]"
            >
              <div class="mb-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-8 w-8 text-[var(--white-icon)]"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"
                  ></path>
                </svg>
              </div>
              <h3 class="text-xl font-bold mb-2">Static Websites</h3>
              <p
                class="text-[var(--accent-dark)] dark:text-[var(--accent-light)] mb-4"
              >
                Developing fast, 100% customizable & SEO-friendly static
                websites with Astro and Jamstack architecture for optimal
                performance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-16">
      <Contact />
    </section>

    <Footer />
  </main>
</Layout>
