---
import Social from "./Social.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="container mx-auto px-4 py-6">
  <nav class="flex justify-evenly md:justify-end items-center gap-4">
    <Social/>
    <ThemeIcon />
  </nav>
</header>
