---
import TechWall from "./TechWall.astro";

const technologies: string[] = [
    "angular",
    "astro",
    "react",
    "typescript",
    "tailwindcss",
    "html5",
    "css3",
    "javascript",
    "python",
    "django",
    "dotnet",
    "csharp",
    "java",
    "mysql",
    "nodejs",
    "aws",
    "vscode",
    "cursor",
    "git",
    "github",
    "bash",
    "figma",
    "unity",
];

const prettifiedTechnologies = {
    angular: "Angular",
    astro: "Astro",
    react: "React",
    typescript: "Typescript",
    tailwindcss: "TailwindCSS",
    html5: "HTML5",
    css3: "CSS3",
    javascript: "Javascript",
    python: "Python",
    django: "Django",
    dotnet: ".NET",
    csharp: "C#",
    java: "Java",
    mysql: "MySQL",
    nodejs: "NodeJS",
    aws: "AWS",
    vscode: "VSCode",
    cursor: "Cursor",
    git: "Git",
    github: "Github",
    bash: "Bash",
    figma: "Figma",
    unity: "Unity",
};
---

<div class="relative overflow-x-hidden py-6 md:py-24">
    <div
        class="pointer-events-none absolute inset-y-0 left-0 w-32 bg-gradient-to-r from-[var(--background)] to-transparent z-20"
    >
    </div>
    <div
        class="pointer-events-none absolute inset-y-0 right-0 w-32 bg-gradient-to-l from-[var(--background)] to-transparent z-20"
    >
    </div>

    <TechWall technologies={technologies} prettifiedTechnologies={prettifiedTechnologies} />
</div>


