---
const { technologies } = Astro.props;
---

<div class="flex animate-scroll hover:animate-paused gap-12 md:gap-20 w-max py-4">
    {
        technologies.map((tech: string) => (
            <div class="flex items-center gap-2 group transition-all duration-300">
                <img
                    src={`src/assets/logos/${tech}.svg`}
                    alt={tech}
                    class="h-7 w-auto object-contain transition-transform group-hover:scale-110 opacity-60"
                    width="30"
                    height="30"
                    loading="lazy"
                />
                <span class="text-lg font-medium text-[var(--white-icon)]">
                    {tech.charAt(0).toUpperCase() + tech.slice(1)}
                </span>
            </div>
        ))
    }
</div>
