---

---

<button id="themeToggle">
  <img src="/sun.svg" class="sun" width="30px" />
  <img src="/moon.svg" class="moon" width="30px" />
</button>

<style>
  #themeToggle {
    border: 0;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .sun {
    display: none;
  }

  .moon {
    display: block;
  }

  :global(.dark) .sun {
    display: block;
  }

  :global(.dark) .moon {
    display: none;
  }

</style>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    console.log("handleToggleClick", element.classList);
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("themeToggle")
    ?.addEventListener("click", handleToggleClick);
</script>
